body {
    background-color: rgb(190, 154, 223);
}
.container {
    width: 1110px;
    margin: 0 auto;
}

.buttons {
    text-align: center;
    justify-content: center;
    margin: 40px 0 40px 0;
}

.products__item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 600px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-family: arial;
    display: inline-block;
    background-color: rgb(240, 235, 243);
    
}

.products__item-price {
    color: #1a15a8;
    font-size: 22px;
    font-weight: 700;
}

.products__item-img {
    max-width: 200px;
    object-fit: contain;
}